{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
<div class="wrapper">
<div class="row">
    <div class="col-md-6">
        <h2><b>Product List</b></h2>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-primary" id="change-status-btn">Change Status</button>
        <a href="{{path('app_product_export_excel')}}"<button type="button" class="btn btn-secondary" id="exportButton"><i class="fas fa-file-excel"></i> export</button></a>
        <button id="add-product-button" class="btn btn-success"><i class="fas fa-plus"></i> Add Product</button>
    </div>
</div>
    <table id="product-datatable" class="table table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" name="select_all" class="dt-checkboxes" id="select_all"></div></th>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th>Category</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
</div>


<!-- Add Product Modal -->
<div id="add-product-modal" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-right" style="width:40%;">
        <div class="modal-content h-100 no-radius" >
            <div class="modal-header">
                <h6 class="modal-title text-capitalize">Add Product</h6>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                            <form id="add-product-form">
                                <div class="form-group">
                                    <label for="productName" class="text-capitalize">Product Name</label>
                                    <input class="form-control" type="text" name="productName" id="newProductName" required>
                                </div>
                                <div class="form-group">
                                    <label for="productPrice" class="text-capitalize">Product Price</label>
                                    <input class="form-control" type="number" name="productPrice" id="newProductPrice" required>
                                </div>
                                <div class="form-group">
                                    <label for="productQuantity" class="text-capitalize">Product Quantity</label>
                                    <input class="form-control" type="number" name="productQuantity" id="newProductQuantity" required>
                                </div>
                                <div class="form-group">
                                    <label for="supplier" class="text-capitalize">Supplier</label>
                                    <select id="newProductSupplier" class="form-control">
                                            <option value="" selected disabled>Select Supplier</option>
                                        {% for supplier in suppliers %}
                                            <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="category" class="text-capitalize">Category</label>
                                    <select id="newProductCategory" class="form-control">
                                            <option value="" selected disabled>Select Category</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                </div>
            </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-product-btn" ><i class="fa-solid fa-floppy-disk" style="font-size: 14px;"></i> save</button>
                </div>
        </div>
    </div>
</div>




<!-- Edit Product Modal -->
<div id="edit-product-modal" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-left" style="width:40%;">
        <div class="modal-content h-100 no-radius">
            <div class="modal-header">
                <h6 class="modal-title text-capitalize">Update Product</h6>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                            <form id="edit-product-form">
                                <input class="form-control" type="text" id="pId" class="field left" readonly>
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input class="form-control" type="text" name="productName" id="editProductName" required>
                                </div>
                                <div class="form-group">
                                    <label for="productPrice">Product Price</label>
                                    <input class="form-control" type="number" name="productPrice" id="editProductPrice" required>
                                </div>
                                <div class="form-group">
                                    <label for="productQuantity">Product Quantity</label>
                                    <input class="form-control" type="number" name="productQuantity" id="editProductQuantity" required>
                                </div>
                                <div class="form-group">
                                    <label for="supplier">Supplier</label>
                                    <select id="editProductSupplier" class="form-control">
                                            <option value="" selected disabled>Select Supplier</option>
                                        {% for supplier in suppliers %}
                                            <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select id="editProductCategory" class="form-control">
                                            <option value="" selected disabled>Select Category</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-primary" id="btnUpdateSubmit"><i class="fas fa-edit"></i> UPDATE</button></div>
        </div>
    </div>
</div>

{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('productList') }}
{% endblock %}
{% endblock %}
